{% extends 'base/base.html'%}

{% block title %}
		Index
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/index.css')}}>
{% endblock %}

{% block body %}
{{ super()}}
<div class="container-full">
	 <div class="row">
		 <nav class="navbar navbar-default">
		 <div class="container-fluid">

		 <div class="navbar-header">
		   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		   </button>
		   <a class="navbar-brand" href="#">Autenticador</a>
		 </div>

		 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		   <ul class="nav navbar-nav">
			<li class="active"><a href="{{url_for('login')}}">Login <span class="sr-only">(current)</span></a></li>
			<li><a href="{{ url_for('register') }}">Registrarse </a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publicos <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="/user">Usuarios</a></li>
				<li><a href="/service">Servicios</a></li>
				<li><a href="/rol">Roles</a></li>
			  </ul>
			</li>
		   </ul>
		   <form class="navbar-form navbar-left" action="/user" method="GET">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="correo">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		   </form>
		   <ul class="nav navbar-nav navbar-right">
			<li><a href="#">contacto</a></li>
		   </ul>
		 </div>
		 </div>
		 </nav>
	 </div>

	  <div class="row">

		<div class="col-lg-12 text-center v-center">
		  <h1>Bienvenido Usuario</h1>
		  <p class="lead">A su sistema de autenticacion</p>
		  <br>
		</div>
	  </div> <!-- /row -->
	  <div class="row">
		<div class="col-lg-12 text-center v-center" style="font-size:39pt;">
		  <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a>
		</div>
	  </div>
</div> <!-- /container full -->



{% endblock %}
